.panel {
  > h2 {
    font-size:18px;
    text-transform:uppercase;
    color:p(mdgray);
    letter-spacing:.15em;
    text-align:center;
    font-weight:300;
  }
}
button.close {
 display:block;
  width:34px;
  height:34px;
  background:url("../images/icon-x-blue.svg") center no-repeat;
  transform:rotate(45deg);
  background-size:auto 28px;
  box-shadow:none;
  position:absolute;
  top:5px;
  right:5px;
}