body {
  &, * {
    font-family:$font;
  }
}

h1 {
  font-size:50px;
  text-align:center;
  color:p(teal);
  font-weight:300;
  display:inline-block;
  width:auto;
  position:relative;

  > span {
    float:left;
    display:inline-block;
    width:auto;
  }
}