//colors
$palette: (
  grad-blue-a:#10DBFF,
  grad-blue-b:#299BFD,
  btn-blue-b:#23C9F5,
  btn-blue-a:#31B7FF,
  btn-orange-a:#FF9133,
  btn-orange-b:#FF5D5D,
  orange:#FF6457,
  cobalt:#20B4FE,
  teal:#4ED8FD,
  dkgray:#6A6F72,
  mdgray:#7C878E,
  ltgray:#8E9AA2,
  gray:#F5F5F5,
  white:#ffffff,
  black:#000
);

$zstack: (
  add-button:+1
);